
/*Other Pages..*/

.elementContainers{
    margin: 6rem 0;
    padding: 12% 0;
}

.elementContainers .headingFoxtrot{
    text-transform: uppercase;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.disp-block{
	display: block;
}

.contents-mockup{
    margin-bottom: 5em;
}

.imgAuthorContainer{
    text-align: center;
    margin-top: 2em;
}

.imgAuthorContainer img{
    width: 350px;
    border: 20px solid #eee;
    margin-top: 41px;
    max-width: 100%;
}

.elementsAuthorBio{
    margin-top: 75px;
}

.elementsAuthorBio p{
	font-weight: 2.0;
    line-height: 1.9;
}

.spanTagline span:after{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    display: block;
    background-color: #f1c111;
    right: 16px;
}

.author-tagliner{
    text-align: right;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 13px;
}

.spanTagline img{
    width: 184px;
    max-width: 100%; 
}

.social-media-icons{
    margin: 0;
    padding: 0; 
}

.social-media-icons li{
    display: inline-block;
    list-style: none;
}

.social-media-icons a{
    padding: 0 10px;
}


/*
    @@ react slick override
*/


.slick-slide img{
    width:250px;
    max-width: 500px;
    margin: 0 auto;
}
.slick-prev:before, .slick-next:before{
    font-family: 'slick';
    font-size: 50px !important;
    line-height: 1;
    opacity: .75;
    color: #000 !important;
    -webkit-font-smoothing: antialiased;
}


.slick-next{
    right: 14px !important;
}

.section-abt-bk{
    padding: 0 4rem;
    margin-top: 16px;
}

.section-abt-bk h2{
    font-size: 4em;
    line-height: 1.2;
}

.span-title{
    color: #d49b2c;
    margin-bottom: 4rem;
    font-size: 18px;
}
.span-title::after{
    content: "";
    width: 90%;
    background: #e0e0e0;
    position: relative;
    display: block;
    height: 1px;
    margin: 19px 1px;
    left: 0;
}

.section-abt-bk p{
    font-weight: 100;
    line-height: 1.9;
    /* font-size: 0.9em; */
}

.disqus-container-bars{
    margin-bottom: 62px;
}

.article-contents{
    margin: 81px 0;
}

.heading-off-pages{
    margin-bottom: 63px;
    text-transform: uppercase;
    letter-spacing: 3px;  
}


.author-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: right; 
}

.banner-section{
    height: 400px !important;
}
/* 
.banner-section img{
   height: 400px !important;
} */

.react-parallax {
    height: 500px;
}

.banner-title{
    display: flex;
    height: 500px;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 5rem;  
}

.book-covers img{
    width: 100%;
}