/*responsive layout*/


@media only screen and (max-width: 950px) {
	.hero{
		padding-top:3em;
	}

	.hero-bg{
		height: 100%;
	}

	.input-group-append{
		width: 100% !important;
    	display: block !important;
	}

	.buttonNewsletter{
		margin-top: 24px;
		padding: 15px 73px;
	}

	.footer-link{
		margin-left:0;
	}

	.mobile-footer-fx{
    	text-align: left !important;
    	margin-top: 38px;
	}

	.book-trailer-grid,.display-grid-two-col,.section-grid-awards{
    	grid-template-columns: auto !important;
	}


	.container-img{
		margin-bottom: 6%;
	}

	.container-img img{
		width: 41% !important;
	}

	.heading-section{
		order: 2;
	}
	
	.heading-author{
		margin: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 650px) {
	
	.section-abt-bk{
		padding: 0;
		text-align: justify;
	}

	.slick-next{
		right: 25px;
	}

	.logo-container{
		width: 33px;
	    max-width: 100%;
	    margin: 16px auto;
	    cursor: pointer;
	    border-bottom: 1px solid #eeee;
	}

	.imgAuthorContainer img{
		width: 350px !important;
		max-width: 100%;
		border-radius: none;
	}

	.logo-container-fx img{
		width: 100%;
	}

	.parent-trailer{
		padding: 29% 0;
	}

}
